<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.0.26201" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="1.8.24" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Text.Data" version="15.0.26201" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="15.0.26201" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.UI" version="15.0.26201" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="15.0.26201" targetFramework="net46" />
  <package id="NSubstitute" version="2.0.3" targetFramework="net46" />
  <package id="xunit" version="2.2.0" targetFramework="net46" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net46" />
  <package id="xunit.assert" version="2.2.0" targetFramework="net46" />
  <package id="xunit.core" version="2.2.0" targetFramework="net46" />
  <package id="xunit.extensibility.core" version="2.2.0" targetFramework="net46" />
  <package id="xunit.extensibility.execution" version="2.2.0" targetFramework="net46" />
  <package id="xunit.runner.visualstudio" version="2.2.0" targetFramework="net46" developmentDependency="true" />
</packages>